* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 30rem;
  height: 15rem;
  background-color: antiquewhite;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
}
#para {
  margin-top: 10px;
  font-weight: bolder;
  font-size: 2.2rem;
  margin-bottom: 10px;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
#input {
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  width: 10em;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
#button {
  width: 10em;
  padding: 10px;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
  cursor: pointer;
}
